language: go

go:
  - 1.11.x
  - 1.12.x
  - 1.13.x

env:
  - GO111MODULE=on

git:
  depth: 1

install: true

script:
  - gofmt -l -e -d .
  - go vet ./...
  - go build ./...
  - go test -v -race ./...
